* {
  margin: 0;
}

body {
  background-color: #40b2f8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #40b2f8;
  padding: 30px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar svg {
  width: 40px;
  height: 40px;
  fill: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #28525e;
  background-color: #f3f3f3;
  height: auto;
  padding: 35px;
  border-radius: 20px 20px 0px 0px;
}

.container-bloc {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 50px;
}
.controled-product {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 40px;
  gap: 20px;
  box-shadow: 5px 3px 12px -4px rgba(0, 0, 0, 0.3);
  height: fit-content;
}

.input-product {
  border-radius: 20px;
  padding: 16px;
  width: 400px;
  box-shadow: 5px 3px 12px -4px rgba(0, 0, 0, 0.3);
  border: 0.1px solid gray;
}

#button-plus {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #6d93a0;
  color: white;
  border-radius: 20px 20px 0px 0px;
  cursor: pointer;
}
#button-moins {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #6d93a0;
  color: white;
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
}

.heart-temperature {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 40px;
  gap: 20px;
  width: inherit;
  box-shadow: 5px 3px 12px -4px rgba(0, 0, 0, 0.3);
}

.card-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.validated-button {
  width: 100%;
  background-color: rgb(215, 215, 215);
  color: white;
  border: none;
  font-size: 30px;
  padding: 50px;
}

p {
  font-size: 30px;
  color: #6d93a0;
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  color: rgb(180, 180, 180);
}
